/*

	Jamal Moubarak
	AVF1308
	
*/

.headerLogo {
	text-align: center;
}
.infobtn{
	text-align: right;
}
.error {
	text-align: center;
}
#displayLinks ul { 
	float: left; 
	width: 80% !important;
}
/* iPhone Horizontal */ 
@media all and (min-width: 480px){  
#displayLinks ul { 
	width: 100% !important; 
	} 
}       
/* iPad Verticle */ 
@media only screen and (min-width: 768px) {
#displayLinks ul { 
	width: 50% !important; 
	} 
}  
/* iPad Horizontal */ 
@media only screen and (min-width: 1024px) {     
#displayLinks ul { 
	width: 50% !important; 
	} 
}  
/* Nexus 7 Horizontal */ 
@media only screen and (min-width: 1280px) {     
#displayLinks ul { 
	width: 33.3333333% !important; 
	} 
}  
/* Laptop 1440 */ 
@media only screen and (min-width: 1440px) {     
#displayLinks ul { 
	width: 33.3333333% !important; 
	} 
}  
/* Monitor 1600 */ 
@media only screen and (min-width: 1600px) {
#displayLinks ul { 
	width: 25% !important; 
	} 
}  
/* Monitor 1920 */ 
@media only screen and (min-width: 1920px) {     
#displayLinks ul { 
	width: 20% !important; 
	} 
}
.ui-page .ui-content .ui-listview {
    margin: 30px;
    max-width: 435px;
}​
#insta {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#insta li {
	list-style: none;
	float: left;
	margin: 0 20px 20px 0;
	-moz-box-shadow: 3px 3px 6px black;
    -webkit-box-shadow: 3px 3px 6px black;
}
#faceboo {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#faceboo li {
	list-style: none;
	float: ;
	margin: 0 20px 20px 0;
	background-color: ;
}
#textStory {
	background-color: rgba(76,132,236,0.93);
	max-width: 300px;
	color: white;
	text-align: center;
	-moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    height: 50px;
    margin: 0px 0px 0px 0px;

}
#pictureStory {
	list-style: none;
	float: none;
	margin: 0 20px 20px 0px;
    max-width: 130px;
    padding: 10px;

}
#posts {
	-moz-box-shadow: 3px 3px 6px black;
    -webkit-box-shadow: 3px 3px 6px black;
    width: 300px;
    height: 300px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: left;
    margin: 15px;
}
#fbPic {
	max-height: 200px;
	max-width: 250px;
	position: center;
}
.googApi {
	border: 1px solid rgba(63,63,63,0.63);
}
